hr{
    border-top: 2px solid #eee;
}

.StatBoxes{
    background-color: lightgrey;
    border-radius: 15px;
    margin-bottom: 2%;
    padding: 0;
}

.ui-datepicker{
    width: 30em;
    margin-bottom: 5%;
}

.ui-datepicker .ui-datepicker-header{
    padding: .8em 0;
}

.ui-datepicker table{
    font-size: 1.4em;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    height: 3.25em;
    width: 3.25em;
}

.SchedSearchBxs{
    padding-bottom: 5%;
}

.dtepckrDiv{
    border-right: 2px solid #eee;
}