<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#">Brand<span style="font-size:16px;" class="pull-right text-center hidden-xs showopacity"></span></a></li>   
        <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Crear</a></li>
            <li><a href="#">Modificar</a></li>
            <li><a href="#">Reportar</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">Informes</a></li>
          </ul>
        </li>          
        <li ><a href="#">List or something<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
        <li ><a href="#">There are tags?<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
        <li ><a href="#">Recent Changes<span style="font-size:16px;" class="pull-right hidden-xs showopacity badge">5</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="col-md-12" id="StatBoxesWrapper">
    <div class="col-md-3">
       <div class="col-md-10 Stat StatBox">
          <span><h3>Total Bookings this week: </h3></span>
          <span><h3>15</h3></span>
       </div>
    </div>

    <div class="col-md-3">
      <div class="col-md-10 Stat StatBox">
          <span><h3>Rescheduled Bookings: </h3></span>
          <span><h3>2</h3></span>
       </div>
    </div>

    <div class="col-md-3">
      <div class="col-md-10 Stat StatBox">
          <span><h3>Cancelled Bookings: </h3></span>
          <span><h3>3</h3></span>
       </div>
    </div>

    <div class="col-md-3">
      <div class="col-md-10 Stat">
          <span><h3>No Shows this week: </h3></span>
          <span><h3>0</h3></span>
       </div>
    </div>
  </div>
  <hr class="divider" />

  <div class="col-md-12" id="CalendarTableWrapper">
    <div class="col-md-5">
      <div id="DatepickerDiv">
      <!-- This goes to bookingapp.component.ts then app.service.ts, then to appointments.js -->
        <p-calendar [(ngModel)]="value" [inline]="true" (onSelect)="updateTable(this.value)"></p-calendar>
      </div>

      <hr class="divider" />
      <div id="DatePickerInfoDiv">
        
      </div>
    </div>

    <div class="col-md-7 table-responsive">
      <table class="table table-hover table-striped">
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Patient</th>
          <th>Physio</th>
          <th>Location</th>
        </tr>
        <tr *ngFor="let appointment of appointments | paginate: {itemsPerPage: 2, currentPage: p}">
          <td>{{appointment.date | date:"dd/MM/yyyy"}}</td>
          <td>{{appointment.date | date:"HH:mm"}}</td>
          <td>{{appointment.patient}}</td>
          <td>{{appointment.physio}}</td>
          <td>{{appointment.Location}}</td>
        </tr>
      </table>
      <pagination-controls (pageChange)="p = $event" maxSize="7"></pagination-controls>
    </div>
  </div>
</div>