<header>
    <secheader>Initializing Header</secheader>
</header>

<!-- Modal Window to edit and appointment -->

<modal #EditApp id="EditApp">
    <modal-header>
        <h2 class="text-center">Edit Appointment Information:</h2>
    </modal-header>
    <modal-content>
        <h2>This is the Edit Appointment Modal Window!</h2>
        <div *ngFor="let appointment of EditAppointment">
            <h3>{{appointment.dateOfApp | date:'dd/MM/yyyy'}}</h3>
            <h3>{{appointment.dateOfApp | date:'HH/mm'}}</h3>
            <h3>{{appointment.p_Fname}}</h3>
            <h3>{{appointment.p_Lname}}</h3>
            <h3>{{appointment.Phy_Fname}}</h3>
            <h3>{{appointment.Phy_Lname}}</h3>
        </div>
    </modal-content>
    <modal-footer>
        <div class="col-xs-3">
            <button class="btn btn-danger" (click)="EditApp.close()">Cancel</button>
        </div>
        
    </modal-footer>
</modal>

<!-- End Modal Window to edit Appointment-->

<!-- Modal Window to Add a new Appointment-->

<modal #AddApp id="AddApp">
    <modal-header>
        <h2 class="text-center">Add Appointment Information:</h2>
    </modal-header>
    <modal-content>
        <h2>This is the Add New Appointment Modal Window!</h2>
    </modal-content>
    <modal-footer>
        <div class="col-xs-3">
            <button class="btn btn-danger" (click)="AddApp.close()">Cancel</button>
        </div>
    </modal-footer>
</modal>

<!-- End Add new Appointment Modal Window --> 


<div class="container-fluid">
    <div class="row">
        <sidebar> </sidebar>
        <div class="col-lg-11 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-2 col-sm-offset-2">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="col-md-12 col-md-offset-0 col-sm-12 StatBoxes">
                        <div class="col-md-12 text-center">
                            <h3><span class="StatsHeaders">Appointments this Week</span></h3>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4><span class="StatsInfo">75</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="col-md-12 col-md-offset-0 col-sm-12 StatBoxes">
                        <div class="col-md-12 text-center">
                            <h3><span class="StatsHeaders">Appointments this Week</span></h3>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4><span class="StatsInfo">75</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="col-md-12 col-md-offset-0 col-sm-12 StatBoxes">
                        <div class="col-md-12 text-center">
                            <h3><span class="StatsHeaders">Appointments this Week</span></h3>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4><span class="StatsInfo">75</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="col-md-12 col-md-offset-0 col-sm-12 StatBoxes">
                        <div class="col-md-12 text-center">
                            <h3><span class="StatsHeaders">Appointments this Week</span></h3>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4><span class="StatsInfo">75</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="col-md-12 col-md-offset-0 col-sm-12 StatBoxes">
                        <div class="col-md-12 text-center">
                            <h3><span class="StatsHeaders">Appointments this Week</span></h3>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4><span class="StatsInfo">75</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="col-md-12 col-md-offset-0 col-sm-12 StatBoxes">
                        <div class="col-md-12 text-center">
                            <h3><span class="StatsHeaders">Appointments this Week</span></h3>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4><span class="StatsInfo">75</span></h4>
                        </div>
                    </div>
                </div>
                <hr class="col-md-12" />
            </div>

            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12 dtepckrDiv">
                    <div class="col-md-12 col-sm-12 col-xs-12 calendarDiv">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <p-calendar [(ngModel)]="value" [inline]="true" dateFormat="dd.mm.yyyy" showOtherMonths=true (onSelect)="updateTable(this.value)"></p-calendar>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 SchedSearchBxs">
                            <div class="col-md-6 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1 txtPhysioDiv">
                                <!-- Potentially implement AutoComplete here, part of NGPrime-->
                                <input type="text" class="form-control" placeholder="Physio" id="txtPhysio">
                            </div>
                            <div class="col-md-6 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                                <input type="text" class="form-control" placeholder="Location" [(ngModel)]="Location" >
                            </div>
                            <!--
                            <div class="col-md-12 col-sm-12 col-xs-12 col-xs-offset-1">
                                <button type="button" class="btn btn-success" (click)="GetPhysios()">Search the Appointments!</button>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-sm-7">
                    <div class="col-md-12 col-sm-12 col-xs-12 tableDiv">
                        <table class="table table-hover table-striped table-responsive">
                            <thead>
                                <th>Time</th>
                                <th *ngFor="let name of names">{{name.Phy_Fname}} {{name.Phy_Lname}}</th>
                            </thead>

                            <tbody>
                                <tr *ngFor="let time of times | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{time | date:"HH:mm"}}</td>
                                    <td *ngFor="let name of names">
                                        <div class="col-sm-12">
                                            <div class="col-sm-9" *ngFor="let app of (rows | FilterAppointment :time:name.Phy_Fname:name.Phy_Lname)" id="{{time}}{{name.Phy_Fname}}{{name.Phy_Lname}}">{{app.p_Fname}} {{app.p_Lname}}</div>
                                            <div class="col-sm-3 div-right">
                                                <button type="button" class="btn btn-circle btn-success btn-sm" (click)="OpenModal(time,name.Phy_Fname,name.Phy_Lname)">+</button>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                            </tbody>
                            
                            <tfoot>
                                <pagination-controls (pageChange)="p = $event" maxSize="10"></pagination-controls>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>


<!-- ID of td that I dont think I need: id="{{time | date:'HH:mm'}}{{name.Phy_Fname}}{{name.Phy_Lname}}"-->

<!--
                            <tr *ngFor="let appointment of rows | paginate: {itemsPerPage: 2, currentPage: p}" (click)="EditApp.open()">
                                <td class="col-xs-3">{{appointment.dateOfApp | date:"dd/MM/yyyy"}}</td>
                                <td class="col-xs-3">{{appointment.dateOfApp | date:"HH:mm"}}</td>
                                <td class="col-xs-3">{{appointment.p_Fname}} {{appointment.p_Lname}}</td>
                                <td class="col-xs-3">{{appointment.Phy_Fname}} {{appointment.Phy_Lname}}</td>
                            </tr>
                            -->