<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="col-md-10 col-md-offset-1 StatBoxes">
                <div class="col-md-12">
                    <div class="text-center">
                    <h3><span>Appointments this Week</span></h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><span >75</span></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="col-md-10 col-md-offset-1 StatBoxes">
                <div class="col-md-12">
                    <div class="text-center">
                    <h3><span>Appointments this Week</span></h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><span >75</span></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="col-md-10 col-md-offset-1 StatBoxes">
                <div class="col-md-12">
                    <div class="text-center">
                    <h3><span>Appointments this Week</span></h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><span >75</span></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3  col-sm-6 col-xs-12">
            <div class="col-md-10 col-md-offset-1 StatBoxes">
                <div class="col-md-12">
                    <div class="text-center">
                    <h3><span>Appointments this Week</span></h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <h4><span >75</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <hr class="col-md-12"/>
    </div>

    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="col-md-12 col-sm-12">
                <p-calendar [(ngModel)]="value" [inline]="true" dateFormat="dd.mm.yyyy" showOtherMonths=true></p-calendar>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- Potentially implement AutoComplete here, part of NGPrime-->
                        <input type="text" class="form-control" placeholder="Search By Physio" id="txtPhysio" >
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" placeholder="Search By Location" id="txtLocation" >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-7">

        </div>
    </div>
</div>

<router-outlet></router-outlet>