<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-sm-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>    
                    <a href="#">Add Patient</a>
                </li>
                <li>    
                    <a href="#">Add Appointment</a>
                </li>
            </ul>
        </div>

        <div class="col-md-11 col-sm-10 col-md-offset-1 col-sm-offset-2">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 StatBoxes">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3><span>Appointments this Week</span></h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <h4><span>75</span></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 StatBoxes">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3><span>Appointments this Week</span></h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <h4><span>75</span></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 StatBoxes">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3><span>Appointments this Week</span></h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <h4><span>75</span></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3  col-sm-6 col-xs-12">
                    <div class="col-md-10 col-md-offset-1 StatBoxes">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3><span>Appointments this Week</span></h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <h4><span>75</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="col-md-12" />
            </div>

            <div class="row">
                <div class="col-md-5 col-sm-5 dtepckrDiv">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <p-calendar [(ngModel)]="value" [inline]="true" dateFormat="dd.mm.yyyy" showOtherMonths=true></p-calendar>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-sm-12 SchedSearchBxs">
                        <div class="col-md-6 col-sm-6">
                            <!-- Potentially implement AutoComplete here, part of NGPrime-->
                            <input type="text" class="form-control" placeholder="Search By Physio" id="txtPhysio">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Search By Location" id="txtLocation">
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-sm-7">

                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>